<!DOCTYPE html>
<html lang="en">
<head>
    @Styles
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Freelance</title>
    <link rel="stylesheet" href="@BaseFilesUrl/Find/index.61cf121d.css">
</head>
<body class="isLoading">
    @StartForm
    <header class="header">
        <div class="container header__container">
            <a lang="en" href="/" class="link logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewbox="0 0 28 29" fill="none">
                    <path d="M16.5 14.5L14 17L11.5 14.5L14 12L16.5 14.5ZM14 7L16.65 9.65L19.775 6.525L14 0.75L8.225 6.525L11.35 9.65L14 7ZM6.5 14.5L9.15 11.85L6.025 8.725L0.25 14.5L6.025 20.275L9.15 17.15L6.5 14.5ZM21.5 14.5L18.85 17.15L21.975 20.275L27.75 14.5L21.975 8.725L18.85 11.85L21.5 14.5ZM14 22L11.35 19.35L8.225 22.475L14 28.25L19.775 22.475L16.65 19.35L14 22Z" fill="#657BDF"></path>
                </svg>
            </a>
            <h1 class="main-title">Find</h1>
        </div>
    </header>
    <main>
        <control attr="">
            <section class="section-1">
                <div class="container">
                    <div class="settings-box__wrap settings-box__wrap--2">
                        <div class="settings-box">
                            <h2 class="settings-box__title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32" fill="none">
                                    <g clip-path="url(#clip0_1326_11144)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66797 4V28H29.3346V4H2.66797ZM13.3346 22.6667H6.66797V20H13.3346V22.6667ZM13.3346 17.3333H6.66797V14.6667H13.3346V17.3333ZM13.3346 12H6.66797V9.33333H13.3346V12ZM19.7613 20L16.0013 16.2133L17.8813 14.3333L19.7613 16.2267L23.988 12L25.8813 13.8933L19.7613 20Z" fill="#657BDF"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1326_11144">
                                            <rect width="32" height="32" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                Goal
                            </h2>
                            <ul class="settings__list settings__list--goal">
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="goal" id="goal-1" @Goal.Drink.CheckBox>
                                    <label class="settings__label" for="goal-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                            <g clip-path="url(#clip0_1378_1913)">
                                                <path d="M21 5V3H3V5L11 14V19H6V21H18V19H13V14L21 5ZM7.43 7L5.66 5H18.35L16.57 7H7.43Z"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1378_1913">
                                                    <rect width="24" height="24" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Drink
                                    </label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="goal" id="goal-2" @Goal.Eat.CheckBox>
                                    <label class="settings__label" for="goal-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                            <g clip-path="url(#clip0_1326_10968)">
                                                <path d="M16 6V14H19V22H21V2C18.24 2 16 4.24 16 6ZM11 9H9V2H7V9H5V2H3V9C3 11.21 4.79 13 7 13V22H9V13C11.21 13 13 11.21 13 9V2H11V9Z"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1326_10968">
                                                    <rect width="24" height="24" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Eat
                                    </label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="goal" id="goal-3" @Goal.Coffee.CheckBox>
                                    <label class="settings__label" for="goal-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                            <g clip-path="url(#clip0_1334_12897)">
                                                <path d="M20 3H4V17H18V10H20C21.11 10 22 9.1 22 8V5C22 3.9 21.1 3 20 3ZM20 8H18V5H20V8ZM4 19H20V21H4V19Z"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1334_12897">
                                                    <rect width="24" height="24" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Coffee
                                    </label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="goal" id="goal-4" @Goal.Talk.CheckBox>
                                    <label class="settings__label" for="goal-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                            <g clip-path="url(#clip0_1334_12903)">
                                                <path d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM8.5 8C9.33 8 10 8.67 10 9.5C10 10.33 9.33 11 8.5 11C7.67 11 7 10.33 7 9.5C7 8.67 7.67 8 8.5 8ZM12 18C9.72 18 7.78 16.34 7 14H17C16.22 16.34 14.28 18 12 18ZM15.5 11C14.67 11 14 10.33 14 9.5C14 8.67 14.67 8 15.5 8C16.33 8 17 8.67 17 9.5C17 10.33 16.33 11 15.5 11Z"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_1334_12903">
                                                    <rect width="24" height="24" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Talk
                                    </label>
                                </li>
                            </ul>
                            <label class="textarea__label">
                                Talk about
                                <textarea class="textarea" cols="30" rows="10" @Goal.TalkAbout.TextBox></textarea>
                            </label>
                        </div>
                        <div class="settings-box">
                            <h2 class="settings-box__title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32" fill="none">
                                    <g clip-path="url(#clip0_1326_11115)">
                                        <path d="M13.3281 10.6667V18.6667L19.5948 22.5334L20.6615 20.9334L15.3281 17.7334V10.6667H13.3281Z" fill="#657BDF"></path>
                                        <path d="M23.8907 16C23.9574 16.44 23.9974 16.88 23.9974 17.3334C23.9974 22.5334 19.8641 26.6667 14.6641 26.6667C9.46406 26.6667 5.33073 22.5334 5.33073 17.3334C5.33073 12.1334 9.46406 8.00004 14.6641 8.00004C15.5974 8.00004 16.4907 8.13337 17.3307 8.38671V5.64004C16.4774 5.44004 15.5841 5.33337 14.6641 5.33337C7.9974 5.33337 2.66406 10.6667 2.66406 17.3334C2.66406 24 7.9974 29.3334 14.6641 29.3334C21.3307 29.3334 26.6641 24 26.6641 17.3334C26.6641 16.88 26.6374 16.44 26.5841 16H23.8907Z" fill="#657BDF"></path>
                                        <path d="M26.6667 6.66675V2.66675H24V6.66675H20V9.33341H24V13.3334H26.6667V9.33341H30.6667V6.66675H26.6667Z" fill="#657BDF"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1326_11115">
                                            <rect width="32" height="32" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                Time
                            </h2>
                            <ul class="settings__list">
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="time" id="time-1" @Time.Morning.CheckBox>
                                    <label class="settings__label" for="time-1">Morning</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="time" id="time-2" @Time.Afternoon.CheckBox>
                                    <label class="settings__label" for="time-2">Afternoon</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="time" id="time-3" @Time.Evening.CheckBox>
                                    <label class="settings__label" for="time-3">Evening</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="settings-box__wrap">
                        <div class="settings-box">
                            <h2 class="settings-box__title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32" fill="none">
                                    <g clip-path="url(#clip0_1326_11095)">
                                        <path d="M28 4.00004H24V1.33337H21.3333V4.00004H10.6667V1.33337H8V4.00004H4V28H28V4.00004ZM25.3333 25.3334H6.66667V10.6667H25.3333V25.3334ZM9.33333 13.3334H16V20H9.33333V13.3334Z" fill="#657BDF"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1326_11095">
                                            <rect width="32" height="32" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                Day
                            </h2>
                            <ul class="settings__list settings__list--day">
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-1" @Day.Monday.CheckBox>
                                    <label class="settings__label" for="day-1">Monday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-2" @Day.Tuesday.CheckBox>
                                    <label class="settings__label" for="day-2">Tuesday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-3" @Day.Wednesday.CheckBox>
                                    <label class="settings__label" for="day-3">Wednesday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-4" @Day.Thursday.CheckBox>
                                    <label class="settings__label" for="day-4">Thursday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-5" @Day.Friday.CheckBox>
                                    <label class="settings__label" for="day-5">Friday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-6" @Day.Saturday.CheckBox>
                                    <label class="settings__label" for="day-6">Saturday</label>
                                </li>
                                <li class="settings__item">
                                    <input class="settings__input" type="checkbox" name="day" id="day-7" @Day.Sunday.CheckBox>
                                    <label class="settings__label" for="day-7">Sunday</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="settings-box__wrap settings-box__wrap--2">
                        <div class="settings-box settings-box--gender">
                            <h2 class="settings-box__title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 30 30" fill="none">
                                    <g clip-path="url(#clip0_1377_10467)">
                                        <path d="M6.875 27.5V18.125H5V8.75H13.75V18.125H11.875V27.5H6.875ZM22.5 27.5V20H26.25L22.5 8.75H18.75L15 20H18.75V27.5H22.5ZM9.375 7.5C10.7625 7.5 11.875 6.3875 11.875 5C11.875 3.6125 10.7625 2.5 9.375 2.5C7.9875 2.5 6.875 3.6125 6.875 5C6.875 6.3875 7.9875 7.5 9.375 7.5ZM20.625 7.5C22.0125 7.5 23.125 6.3875 23.125 5C23.125 3.6125 22.0125 2.5 20.625 2.5C19.2375 2.5 18.125 3.6125 18.125 5C18.125 6.3875 19.2375 7.5 20.625 7.5Z" fill="#657BDF"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1377_10467">
                                            <rect width="30" height="30" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                Gender
                            </h2>
                            <div class="gender">
                                <ul class="gender__list">
                                    <li class="gender__item">
                                        <input class="gender__input" type="checkbox" id="gender-male" @Gender.Male.CheckBox>
                                        <label class="gender__label" for="gender-male">
                                            Male
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                                <g clip-path="url(#clip0_1390_10516)">
                                                    <rect width="24" height="24" rx="4" fill="#657BDF"></rect>
                                                    <path d="M8.99844 16.2L4.79844 12L3.39844 13.4L8.99844 19L20.9984 6.99998L19.5984 5.59998L8.99844 16.2Z" fill="white"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1390_10516">
                                                        <rect width="24" height="24" rx="4" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </label>
                                    </li>
                                    <li class="gender__item">
                                        <input class="gender__input" type="checkbox" id="gender-female" @Gender.Female.CheckBox>
                                        <label class="gender__label" for="gender-female">
                                            Female
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                                                <g clip-path="url(#clip0_1390_10516)">
                                                    <rect width="24" height="24" rx="4" fill="#657BDF"></rect>
                                                    <path d="M8.99844 16.2L4.79844 12L3.39844 13.4L8.99844 19L20.9984 6.99998L19.5984 5.59998L8.99844 16.2Z" fill="white"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1390_10516">
                                                        <rect width="24" height="24" rx="4" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="settings-box settings-box--age">
                            <h2 class="settings-box__title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 30 30" fill="none">
                                    <g clip-path="url(#clip0_1377_10474)">
                                        <path d="M7.5 7.5C8.875 7.5 10 6.375 10 5C10 3.625 8.875 2.5 7.5 2.5C6.125 2.5 5 3.625 5 5C5 6.375 6.125 7.5 7.5 7.5ZM12.5 11.7875C12.5 10.775 11.9 9.875 10.975 9.475C9.9125 9.0125 8.7375 8.75 7.5 8.75C6.2625 8.75 5.0875 9.0125 4.025 9.475C3.1 9.875 2.5 10.775 2.5 11.7875V12.5H12.5V11.7875ZM22.5 7.5C23.875 7.5 25 6.375 25 5C25 3.625 23.875 2.5 22.5 2.5C21.125 2.5 20 3.625 20 5C20 6.375 21.125 7.5 22.5 7.5ZM27.5 11.7875C27.5 10.775 26.9 9.875 25.975 9.475C24.9125 9.0125 23.7375 8.75 22.5 8.75C21.2625 8.75 20.0875 9.0125 19.025 9.475C18.1 9.875 17.5 10.775 17.5 11.7875V12.5H27.5V11.7875ZM23.75 21.25V18.7375L6.25 18.75V21.25L2.5 17.5L6.25 13.75V16.2625L23.75 16.25V13.75L27.5 17.5L23.75 21.25ZM12.5 23.75V22.5H8.75V27.5H12.5V24.375H10V23.75H12.5ZM11.25 25.625V26.25H10V25.625H11.25ZM21.875 23.75H20.625V27.5H19.375V23.75H18.125V22.5H21.875V23.75ZM15.625 23.75V24.375H16.875V25.625H15.625V27.5H14.375V22.5H17.5V23.75H15.625Z" fill="#657BDF"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1377_10474">
                                            <rect width="30" height="30" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                Age
                            </h2>
                            <div class="age">
                                <div class="range_container">
                                    <div class="sliders_control">
                                        <input id="fromSlider" type="range" value="10" min="0" max="100" @Age.Min.TextBox>
                                        <input id="toSlider" type="range" value="40" min="0" max="100" @Age.Max.TextBox>
                                    </div>
                                    <div class="form_control">
                                        <div class="form_control_container">
                                            <input class="form_control_container__time__input" type="number" id="fromInput" value="18" min="0" max="100">
                                        </div>
                                        <span>-</span>
                                        <div class="form_control_container">
                                            <input class="form_control_container__time__input" type="number" id="toInput" value="45" min="0" max="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn__wrap">
                        <button onclick="@SavePageScript" class="btn--find" type="button">Find</button>
                        <button onclick="@CancelPageScript" class="btn--cancel" type="button">Cancel</button>
                    </div>
                </div>
            </section>
        </control>
    </main>
    <script src="@BaseFilesUrl/Find/index.31349499.js"></script>
    @EndForm
</body>
</html>