<table border=1>
    <tr>
        <td style="width:150px;height:500px" align="center" valign="top">
            @Menu
        </td>
        <td style="width:100%;height:500px" colspan=2 align="left" valign="top">
            @Messages
        </td>
    </tr>
    <tr>
        <td style="width:150px;height:30px">
            @NewChat
        </td>
        <td style="width:100%;height:30px">
            @Message
        </td>
        <td style="width:150px;height:30px">
            @SendMessage
        </td>
    </tr>
    <tr>
        <td colspan="3" align="left">
            @EditChats
        </td>
    </tr>
</table>