<table>
    <tr>
        <td align="left" class="dashboard">
            @CurrentProject
        </td>
        <td class="dashboard">
        </td>
        <td align="right" class="dashboard">
            @CurrentUser
        </td>
        <td align="right" class="dashboard">
            @Logout
        </td>
    </tr>
    <tr>
        <td align="left" class="dashboard">
            %User%
        </td>
        <td align="left" class="dashboard">
            %Story%
        </td>
        <td align="left" class="dashboard">
            %Project%
        </td>
        <td align="left" class="dashboard">
            %Sprint%
        </td>
    </tr>
    <tr>
        <td valign="top" class="dashboard">
            @User
        </td>
        <td valign="top" class="dashboard">
            @Story
        </td>
        <td valign="top" class="dashboard">
            @Project
        </td>
        <td valign="top" class="dashboard">
            @Sprint
        </td>
    </tr>
    <tr>
        <td align="left" class="dashboard">
            %Messages%
        </td>
        <td align="left" class="dashboard">
            %Meetings%
        </td>
        <td align="left" class="dashboard">
            %Learn%
        </td>
        <td align="left" class="dashboard">
            %Report%
        </td>
    </tr>
    <tr>
        <td valign="top" class="dashboard">
            @Messages
        </td>
        <td valign="top" class="dashboard">
            @Meetings
        </td>
        <td valign="top" class="dashboard">
            @Learn
        </td>
        <td valign="top" class="dashboard">
            @Report
        </td>
    </tr>
    <tr>
        <td valign="top" class="dashboard">
            %Environment%
        </td>
        <td valign="top" class="dashboard">
            %Testing%
        </td>
        <td valign="top" class="dashboard">
            
        </td>
        <td valign="top" class="dashboard">
            
        </td>
    </tr>
    <tr>
        <td valign="top" class="dashboard">
            @Environment
        </td>
        <td valign="top" class="dashboard">
            @Testing
        </td>
        <td valign="top" class="dashboard">
            
        </td>
        <td valign="top" class="dashboard">
            
        </td>
    </tr>
</table>