<html>
<head>

</head>
<body>
    <div>
        <h1>Bob</h1>
        <div>
            <div>
                <hr />
                <h2>Jane</h2>
                <div>
                    <h3>Tom</h3>
                    <h3>Bill</h3>
                </div>
            </div>
            <div>
                <hr />
                <h2>Hank</h2>
                <div>
                    <h3>Tom</h3>
                    <h3>Bill</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>