<html>
<head>

</head>
<body>
    <control attr="">
   
   <div>
      
      <h1>
         
         <span>
            @Name.Value
         </span>
         
      </h1>
      
      <div><control attr="Childs" repeatable="true">
   
   <div>
      
      <hr />
         
         <h2>
            
            <span>
               @Name.Value
            </span>
            
         </h2>
         
         <div><control attr="Friends" repeatable="true">
   
   <h3>
      
      <span>
         @Value
      </span>
      
   </h3>
   
</control></div>
         
      </div>
      
   </control></div>
            
         </div>
         
      </control>
</body>
</html>