<!DOCTYPE html>
<html lang="uk" style="--doc-height: 771px;">
<head>
    <script src="@BaseUrl/js/frmain.js"></script>
    <link rel="stylesheet" href="@BaseUrl/css/@UserTheme.css">
    <link rel="stylesheet" href="@BaseUrl/css/calendar.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Погода</title>
    <meta name="csrf-token" content="44fd1adbeae7f950d2f3a2ade31637ee">
    <link href="@BaseFilesUrl/Chats/m.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/emotions.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/comments.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/share.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/weather.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/weather(1).css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/weather(1).css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/breadcrumbs.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/auth.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="@BaseFilesUrl/Chats/libs.min.css">
    <link rel="stylesheet" href="@BaseFilesUrl/Chats/app.css">
    <style>
        :root {
            --doc-height: 100%;
        }

        body.dark {
            color: #8c91b6;
            background-color: #182039;
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script src="@BaseFilesUrl/Chats/f(4).txt"></script>
    <script src="@BaseFilesUrl/Chats/f(5).txt" id="google_shimpl"></script>
    <script async="" src="@BaseFilesUrl/Chats/js"></script>
    <meta http-equiv="origin-trial" content="A7CQXglZzTrThjGTBEn1rWTxHOEtkWivwzgea+NjyardrwlieSjVuyG44PkYgIPGs8Q9svD8sF3Yedn0BBBjXAkAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A3vKT9yxRPjmXN3DpIiz58f5JykcWHjUo/W7hvmtjgh9jPpQgem9VbADiNovG8NkO6mRmk70Kex8/KUqAYWVWAEAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A4A26Ymj79UVY7C7JGUS4BG1s7MdcDokAQf/RP0paks+RoTYbXHxceT/5L4iKcsleFCngi75YfNRGW2+SpVv1ggAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="As0hBNJ8h++fNYlkq8cTye2qDLyom8NddByiVytXGGD0YVE+2CEuTCpqXMDxdhOMILKoaiaYifwEvCRlJ/9GcQ8AAAB8eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="AgRYsXo24ypxC89CJanC+JgEmraCCBebKl8ZmG7Tj5oJNx0cmH0NtNRZs3NB5ubhpbX/bIt7l2zJOSyO64NGmwMAAACCeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <link href="@BaseFilesUrl/Chats/active_menu_item.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/class_toggle.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/modal_click.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/ajax_views.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/carousel.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/password_show.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/reset_captcha.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/cookie_toggle_class.css" rel="stylesheet" type="text/css" media="all">
    <link href="@BaseFilesUrl/Chats/scroll2.css" rel="stylesheet" type="text/css" media="all">
    <meta http-equiv="origin-trial" content="A7CQXglZzTrThjGTBEn1rWTxHOEtkWivwzgea+NjyardrwlieSjVuyG44PkYgIPGs8Q9svD8sF3Yedn0BBBjXAkAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A3vKT9yxRPjmXN3DpIiz58f5JykcWHjUo/W7hvmtjgh9jPpQgem9VbADiNovG8NkO6mRmk70Kex8/KUqAYWVWAEAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="A4A26Ymj79UVY7C7JGUS4BG1s7MdcDokAQf/RP0paks+RoTYbXHxceT/5L4iKcsleFCngi75YfNRGW2+SpVv1ggAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="As0hBNJ8h++fNYlkq8cTye2qDLyom8NddByiVytXGGD0YVE+2CEuTCpqXMDxdhOMILKoaiaYifwEvCRlJ/9GcQ8AAAB8eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="AgRYsXo24ypxC89CJanC+JgEmraCCBebKl8ZmG7Tj5oJNx0cmH0NtNRZs3NB5ubhpbX/bIt7l2zJOSyO64NGmwMAAACCeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <script type="text/javascript" async="" src="@BaseFilesUrl/Chats/f(6).txt"></script>
    <meta http-equiv="origin-trial" content="A+xK4jmZTgh1KBVry/UZKUE3h6Dr9HPPioFS4KNCzify+KEoOii7z/goKS2zgbAOwhpZ1GZllpdz7XviivJM9gcAAACFeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiQXR0cmlidXRpb25SZXBvcnRpbmdDcm9zc0FwcFdlYiIsImV4cGlyeSI6MTcwNzI2Mzk5OSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <script attributionsrc="" type="text/javascript" async="" src="@BaseFilesUrl/Chats/f(7).txt"></script>
</head>
<body>
    <form action="/@InstanceName" enctype="multipart/form-data" method="post">
        <input type="hidden" name="EditKey" value="" />
        <input type="hidden" name="MenuAction" value="" />
        <input type="hidden" name="App" value="@AppName" />
        <input type="hidden" name="FormName" value="@FormName" />
        <input type="submit" id="btnSaveOnEnter" name="btn" value="Save" onclick="return !isPreventSaveOnEnter;" style="display:none;" />
        <input type="submit" id="btnSortGridColumn" name="btn" value="SortGridColumn" style="display:none;" />
        <input type="submit" id="btnEditLanguage" name="btn" value="EditLanguage" style="display:none;" />
        <input type="submit" id="btnEditTheme" name="btn" value="EditTheme" style="display:none;" />
        <input type="submit" id="btnEventClick" name="btn" value="EventClick" style="display:none;" />
        <input type="submit" id="btnEventChange" name="btn" value="EventChange" style="display:none;" />
        <input type="submit" id="btnMenuClick" name="btn" value="MenuClick" style="display:none;" />
        <input type="submit" id="btnSave" name="btn" value="Save" style="display:none" />
        <input type="submit" id="btnRefresh" name="btn" value="Refresh" style="display:none;" />
        <input type="submit" id="btnUpdate" name="btn" value="Update" style="display:none" />
        <input type="submit" id="btnCancel" name="btn" value="Cancel" style="display:none" />
        <input type="submit" id="btnFilter" name="btn" value="Filter" style="display:none" />
        <input type="submit" id="btnAdd" name="btn" value="Add" style="display:none" />
        <input type="submit" id="btnDel" name="btn" value="Del" style="display:none" />

        <div id="content-page" class="content-page home-page" data-m-action="ajax_views" style="height: auto !important; min-height: 0px !important;">
            <div class="container" style="height: auto !important;">
                <h1 class="h3 mt-3 mb-2">
                    Погода в Києві на сьогодні
                </h1>
                <div class="row first-items">
                    <div class="col-lg-9 position-relative">
                        <div class="daily-wrapper">
                            <div class="row">
                                <control>
                                <div class="col-2">
                                    <a href="https://we.ua/weather/01001-Kyiv/date/2023-09-24" class="card">
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush text-left px-0">
                                                <li class="list-group-item px-0 text-center">
                                                    <h5>
                                                        Неділя
                                                        <br>
                                                        24 Вер.
                                                    </h5>
                                                </li>
                                                <li class="list-group-item px-0 text-center">
                                                    <img src="@BaseFilesUrl/Chats/01d.svg" height="48">
                                                    <p>
                                                        чисте небо
                                                    </p>
                                                </li>
                                                <li class="list-group-item px-0 text-center">
                                                    <h4>
                                                        27 °
                                                    </h4>
                                                </li>
                                                <li class="list-group-item px-0 text-center">

                                                    <h4>
                                                        23 °
                                                    </h4>

                                                </li>

                                                <li class="list-group-item px-0">

                                                    <small class="text-black-50">
                                                        Опади
                                                    </small>

                                                    <span class="float-right">
                                                        0 %
                                                    </span>

                                                </li>

                                            </ul>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>