<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Онлайн - кінотеатр</title>
  <link rel="stylesheet" href="./index.a29fce5e.css">
</head>
<body>
  <header class="header">
  <div class="container">
    <a lang="en" href="/" class="logo link">
  <img src="./logo.0ad9a92c.svg" alt="Logo">
</a>
  </div>
</header>
  <main>
    <section class="main-page section">
      <div class="main-page__container container">
        <div class="main-page__box">
          <h1 class="main-page__title">Онлайн - кінотеатр</h1>
          <h2 class="main-page__subtitle">без реклами, де ви можете ділитися списками <br> відтворення з друзями</h2>
          <ul class="benefits__list">
            <li class="benefits__item">
              <svg class="benefits__icon" width="36" height="36">
                <use href="./icons.a238eec9.svg#icon-users"></use>
              </svg>
              <p class="benefits__text">Наші фільми дивиться <span>123</span> користувачів</p>
            </li>
            <li class="benefits__item">
              <svg class="benefits__icon" width="36" height="36">
                <use href="./icons.a238eec9.svg#icon-screen"></use>
              </svg>
              <p class="benefits__text">На нашій на платформі <span>200</span> фільмів</p>
            </li>
          </ul>
        </div>
        <div class="main-page__box">
          <div class="main-page__box-inner">
            <form class="auth-form">
              <label class="auth-form__label">
                <input class="auth-form__input" type="text" name="login" placeholder="Логін">
              </label>
              <label class="auth-form__label">
                <input class="auth-form__input" type="password" name="password" placeholder="Пароль">
              </label>
            </form>
            <ul class="auth-form__btn-list">
              <li class="auth-form__btn-item">
                <button class="auth-form__btn" type="button">Увійти</button>
              </li>
              <li class="auth-form__btn-item">
                <button class="auth-form__btn auth-form__btn--transparent" type="button">Новий користувач</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
<script src="./pages.0155c232.js"></script></body>
</html>