footer {
    box-sizing: border-box; /* Новое свойство */
    width: 100%;
    background-color: #333;
    padding: 20px;
    color: #fff;
}

.footer-container {
    max-width: 1200px; /* Ширина контейнера может быть любой, которую вы выберете */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    max-width: 80px;
    height: auto;
}

.footer-text {
    text-align: right;
}

.footer-container p {
    margin: 0; /* Убрать отступы у параграфа */
}

.footer-container a {
    color: #fff; /* Цвет ссылки */
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-text {
        text-align: left;
        font-size: 9px; /* Уменьшение размера текста */
    }
}