.options .share
{
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
    background-color: transparent;
    position: relative;
    /*border: solid 1px #f0f0f0;*/
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    /*margin-bottom: 10px;*/
    text-align: center;
    line-height: 38px;
    order: 3;
    overflow: hidden;
    padding: 0;
}
.options .share:hover
{
    background-color: #f9f9f9;
}
/*.options .share {*/
    /*float: left;*/
/*}*/
.share a {
    display: inline-block;
    font-style: normal;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
    padding: 0;
    position: relative;
    margin: 0;
    cursor: pointer;
    opacity: 0.85;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: transparent;
    font-size: 0em;
    text-decoration: none;
}
.share a.active {
    padding: 0 0 0 32px;
    color: #333;
    margin: 4px;
}
.share.hover a,
.share:hover a,
.share a.e
{
    padding: 0 4px 0 24px;
    color: #333;
    font-size: 0.85em;
    margin: 4px;
}
.share a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(0.000001);
    -moz-transition: transform .25s ease-in-out;
    -webkit-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.share:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 2;
    -moz-transition: all .01s ease-in-out;
    -webkit-transition: all .01s ease-in-out;
    -o-transition: all .01s ease-in-out;
    transition: all .01s ease-in-out;
    transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    -o-transition-delay: 250ms;
}
.share:hover:after {
    width: 0;
    height: 0;
}
.share.hover a:before,
.share:hover a:before,
.share a.active:before
{
    transform: scale(0.75);
}
.share a:hover,
.share a.e
{
    opacity: 1;
}
.share a:hover:before
{
    transform: scale(1);
}
.share a.icon:before {
    background-image: url('/application/we/modules/social/client/img/share.new.svg');
}
.share a.facebook:before {
    background-image: url('/application/we/modules/social/client/img/facebook.svg');
}
.share a.linkedin:before {
    background-image: url('/application/we/modules/social/client/img/linkedin.svg');
}
.share a.twitter:before {
    background-image: url('/application/we/modules/social/client/img/twitter.svg');
}
.share a.whatsapp:before {
    background-image: url('/application/we/modules/social/client/img/whatsapp.svg');
}
.share a.viber:before {
    background-image: url('/application/we/modules/social/client/img/viber.svg');
}
.share a.telegram:before {
    background-image: url('/application/we/modules/social/client/img/telegram.svg');
}
.share a.we:before {
    background-image: url('/application/we/modules/social/client/img/we.svg');
}


.options .external
{
    display: inline-block;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    position: relative;
    /*border: solid 1px #f0f0f0;*/
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    /*margin-bottom: 10px;*/
    text-align: center;
    line-height: 38px;
    /*float: right;*/
    order: 4;
}
.options .external:hover
{
    background-color: #f9f9f9;
}
.options .external > a {
    display: inline-block;
    font-style: normal;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
    padding: 0;
    position: relative;
    margin: 0;
    cursor: pointer;
    opacity: 0.75;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    color: transparent;
    font-size: 0em;
    text-decoration: none;
}
.options .external > a:hover {
    opacity: 1;
}
.options .external > a:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 32px;
    position: absolute;
    left: 2px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-transition: transform .25s ease-in-out;
    -webkit-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transform: scale(0.8);
}
.options .external > a:hover:before {
    transform: scale(0.95);
}
.options .external > a.icon:before {
    background-image: url('/application/we/modules/social/client/img/external-link.svg');
}
.options .external > a.active {
    padding: 0 0 0 32px;
    color: #333;
    margin: 4px;
}
.options .external.hover > a,
.options .external:hover > a,
.options .external > a.e
{
    padding: 0 4px 0 28px;
    color: #333;
    font-size: 0.85em;
    margin: 4px;
}


@media (max-width:480px) {

    .share:hover {
        order: 5;
    }

    .share.hover a,
    .share:hover a,
    .share a.e {
        padding: 0 0 0 32px;
        margin: 4px 2px;
    }
}