.hero-text p {
    font-size: 2.5em;
    text-align: center;
    line-height: 49px;
    letter-spacing: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


.card .options {
    margin: 0 -10px -10px -10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.card .item-description {
    margin-bottom: 1rem;
}
.card .item-description p {
    max-height: 100px;
    overflow: hidden;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-align: justify;
    position: relative;
    margin-bottom: 0;
}
.card .item-description p + .more {
    cursor: pointer;
    color: #777d74;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.card .item-description p + .more:hover {
    color: #222;
}
.card .item-description a[href] {
    text-decoration: none;
    color: #333;
}
.card .item-description a[href]:hover {
    text-decoration: underline;
}
.card .item-description.full p {
    max-height: 10000px;
}
.card .item-description.full p + .more {
    display: none !important;
}
form.card .user-post {
    display: flex;
    flex-wrap: wrap;
}
form.card .user-post > div {
    /*flex: 0 0 100%;*/
    /*width: 100%;*/
}
form.card .user-post textarea[name="post[text]"] {
    /*order: 2;*/
}
/*form.card .user-post textarea[name="post[text]"]:empty::before {*/
    /*content: attr(data-placeholder);*/
/*}*/
form.card .user-post input[name="post[title]"] {
    /*order: 1;*/
}
/*
form.card .user-post textarea[name="post[text]"] + input[name="post[title]"]
{
    display: none;
}
form.card .user-post textarea[name="post[text]"]:focus + input[name="post[title]"],
form.card .user-post textarea[name="post[text]"]:not(:empty) + input[name="post[title]"],
form.card .user-post textarea[name="post[text]"]:not(:placeholder-shown) + input[name="post[title]"]
{
    display: block;
}
*/

.results-new-count {
    position: fixed;
    z-index: 2;
    top: -40px;
    padding: 10px;
    text-align: center;
    left: 50%;
    background-color: rgba(219, 219, 219, 0.7);
    transform: translate(-50%, 0);
    border-radius: 5px;
    font-size: 1em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    cursor: pointer;
    font-weight: 300;
}
.results-new-count.active {
    top: 85px;
}

.card-filter {
    display: none;
}
.modal .card-filter {
    display: block;
}
.btn.filter-toggle {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 0.5rem;
    bottom: 1rem;
    border-radius: 8px;
    background-color: rgba(97, 154, 177, 0.85);
    cursor: pointer;
    color: #f0f0f0;
    z-index: 3;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    animation: shadow-pulse-blue 1.5s 7;
    padding: 0;
    opacity: 0.75;
}
.filter-toggle:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
}
@keyframes shadow-pulse-blue{0%{box-shadow: 0 0 0 0px rgba(97, 154, 177, 0.6);}100%{box-shadow: 0 0 0 35px rgba(97, 154, 177, 0);}}


.breadcrumbs {
    padding: 15px 0 !important;
    position: relative;
    z-index: 2;
}
.background-header .breadcrumbs > a,
.background-header .breadcrumbs > a:before
{
    color: #eee;
}
.background-header .breadcrumbs > a:hover {
    color: #fff;
}

.weather-block h4 img {
    margin-bottom: 6px;
}
.card.sticky-top-10,
.sticky-top-10
{
    position: sticky;
    top: 85px;
}
.card.most-commented-card,
.card.most-popular
{
    min-height: calc(100vh - 95px);
    max-width: 100%;
    width: 100%;
}
a.blue-link {
    color: #50b5ff;
}

.social-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 1.25rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
.social-link.facebook {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='32'%3E%3Cpath fill='%234267B2' d='M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z'%3E%3C/path%3E%3C/svg%3E");
}
.social-link.twitter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='32'%3E%3Cpath fill='%231DA1F2' d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z'%3E%3C/path%3E%3C/svg%3E");
}
.social-link.instagram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='32'%3E%3Cpath fill='%238840a6' d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'%3E%3C/path%3E%3C/svg%3E");
}
.social-link.linkedin {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='32'%3E%3Cpath fill='%230A66C2' d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z'%3E%3C/path%3E%3C/svg%3E");
}
.social-link.youtube {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' height='32'%3E%3Cpath fill='%23FF0000' d='M186.8 202.1l95.2 54.1-95.2 54.1V202.1zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-42 176.3s0-59.6-7.6-88.2c-4.2-15.8-16.5-28.2-32.2-32.4C337.9 128 224 128 224 128s-113.9 0-142.2 7.7c-15.7 4.2-28 16.6-32.2 32.4-7.6 28.5-7.6 88.2-7.6 88.2s0 59.6 7.6 88.2c4.2 15.8 16.5 27.7 32.2 31.9C110.1 384 224 384 224 384s113.9 0 142.2-7.7c15.7-4.2 28-16.1 32.2-31.9 7.6-28.5 7.6-88.1 7.6-88.1z'%3E%3C/path%3E%3C/svg%3E");
}
.social-link.qr {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' height='32'%3E%3Cpath fill='%23999999' d='M2,2v10.2h2.5v2.5h2.5v-2.5h5.1V2H2z M12.2,12.2v2.5h2.5v2.5H9.6v2.5H2V30h10.2V19.8h7.6v-2.5h-2.5v-2.5h5.1 v-2.5h2.5v2.5h2.5v-2.5H30V2H19.8v10.2H12.2z M27.5,14.7v2.5H30v-2.5H27.5z M27.5,17.3h-2.5v2.5h2.5V17.3z M27.5,19.8v2.5H30v-2.5 H27.5z M27.5,22.4h-2.5v-2.5h-2.5v2.5H16V30h2.5v-5.1h5.1v2.5h2.5v-2.5h1.3V22.4z M23.6,27.5h-2.5V30h2.5V27.5z M24.9,17.3v-2.5 h-2.5v2.5H24.9z M9.6,17.3v-2.5H7.1v2.5H9.6z M4.5,14.7H2v2.5h2.5V14.7z M14.7,2v5.1h-1.3v2.5h1.3v1.3h2.5V7.1h1.3V4.5h-1.3V2H14.7z M4.5,4.5h5.1v5.1H4.5V4.5z M22.4,4.5h5.1v5.1h-5.1V4.5z M5.8,5.8v2.5h2.5V5.8H5.8z M23.6,5.8v2.5h2.5V5.8H23.6z M4.5,22.4h5.1v5.1 H4.5V22.4z M5.8,23.6v2.5h2.5v-2.5H5.8z M27.5,27.5V30H30v-2.5H27.5z'/%3E%3C/svg%3E%0A");
}

.dropdown .dropdown-toggle:hover + .dropdown-menu,
.dropdown .dropdown-toggle:focus + .dropdown-menu,
.dropdown .dropdown-toggle + .dropdown-menu:hover
{
    display: block;
}
.post-item[data-id] .dropdown .dropdown-toggle + .dropdown-menu {
    right: 0;
}
.card .post-item > .post-item {
    border: solid 1px #eee;
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
    background-color: #fbfbfb;
}
body.dark .card .post-item > .post-item {
    border-color: #353e5e;
    background-color: #293353;
}
body.dark .options .emotions:hover,
body.dark .options .comments:hover,
body.dark .options .share:hover
{
    border-color: #353e5e;
    background-color: #293353;
}
.card .post-item > .post-item + .comment-area.border-top {
    border: none !important;
    margin-top: 0 !important;
}
.card.loading,
body.loading
{
    position: relative;
}
.card.loading:before,
body.loading:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.35;
    z-index: 2;
    cursor: wait;
}
ul.post-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
}
ul.post-gallery li img {
    width: 100%;
}
ul.post-gallery li input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
ul.post-gallery li input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}
ul.post-gallery li input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='40'%3E%3Cpath fill='%23ffffff' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E");
    opacity: 0.9;
    z-index: 3;
}
ul.post-gallery li div.preview-container {
    position: relative;
    background-position: center center;
    background-size: cover;
}
ul.post-gallery li div.preview-container:before {
    content: '';
    display: block;
    padding-top: 100%;
}
ul.post-gallery li div.preview-container i.cancel {
    content: '';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' height='14'%3E%3Cpath fill='%23888888' d='M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.card.loading:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: #c1c1c1 transparent #c1c1c1 transparent;
    -webkit-animation: load8 1.5s infinite linear;
    animation: load8 1.5s infinite linear;
    z-index: 3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.nav-item a .count-circle {
    background-color: transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 11px;
    border: solid 1px #c3e1f7;
}
body.dark .nav-item a .count-circle {
    border-color: #313c62;
}

i.emotion.like,
i.emotion.dislike,
i.emotion.heart,
i.emotion.funny,
i.emotion.surprised,
i.emotion.sad,
i.emotion.nausea,
i.emotion.angry
{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    vertical-align: middle;
}
i.emotion.like {
    background-image: url('/application/we/modules/social/client/img/like.svg');
}
i.emotion.dislike {
    background-image: url('/application/we/modules/social/client/img/dislike.svg');
}
i.emotion.heart {
    background-image: url('/application/we/modules/social/client/img/heart.svg');
}
i.emotion.funny {
    background-image: url('/application/we/modules/social/client/img/lol.svg');
}
i.emotion.surprised {
    background-image: url('/application/we/modules/social/client/img/surprised.svg');
}
i.emotion.sad {
    background-image: url('/application/we/modules/social/client/img/cry.svg');
}
i.emotion.nausea {
    background-image: url('/application/we/modules/social/client/img/facepalm.svg');
}
i.emotion.angry {
    background-image: url('/application/we/modules/social/client/img/angry.svg');
}


body #head .dark-mode-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' height='20'%3E%3Cpath fill='%23777d74%0A' d='M 15 3 L 15 8 L 17 8 L 17 3 Z M 7.5 6.09375 L 6.09375 7.5 L 9.625 11.0625 L 11.0625 9.625 Z M 24.5 6.09375 L 20.9375 9.625 L 22.375 11.0625 L 25.90625 7.5 Z M 16 9 C 12.144531 9 9 12.144531 9 16 C 9 19.855469 12.144531 23 16 23 C 19.855469 23 23 19.855469 23 16 C 23 12.144531 19.855469 9 16 9 Z M 16 11 C 18.773438 11 21 13.226563 21 16 C 21 18.773438 18.773438 21 16 21 C 13.226563 21 11 18.773438 11 16 C 11 13.226563 13.226563 11 16 11 Z M 3 15 L 3 17 L 8 17 L 8 15 Z M 24 15 L 24 17 L 29 17 L 29 15 Z M 9.625 20.9375 L 6.09375 24.5 L 7.5 25.90625 L 11.0625 22.375 Z M 22.375 20.9375 L 20.9375 22.375 L 24.5 25.90625 L 25.90625 24.5 Z M 15 24 L 15 29 L 17 29 L 17 24 Z'/%3E%3C/svg%3E");
}
body.dark #head .dark-mode-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='20'%3E%3Cpath fill='%238c91b6' d='M10 6a8 8 0 0 0 11.955 6.956C21.474 18.03 17.2 22 12 22 6.477 22 2 17.523 2 12c0-5.2 3.97-9.474 9.044-9.955A7.963 7.963 0 0 0 10 6zm-6 6a8 8 0 0 0 8 8 8.006 8.006 0 0 0 6.957-4.045c-.316.03-.636.045-.957.045-5.523 0-10-4.477-10-10 0-.321.015-.64.045-.957A8.006 8.006 0 0 0 4 12zm14.164-9.709L19 2.5v1l-.836.209a2 2 0 0 0-1.455 1.455L16.5 6h-1l-.209-.836a2 2 0 0 0-1.455-1.455L13 3.5v-1l.836-.209A2 2 0 0 0 15.29.836L15.5 0h1l.209.836a2 2 0 0 0 1.455 1.455zm5 5L24 7.5v1l-.836.209a2 2 0 0 0-1.455 1.455L21.5 11h-1l-.209-.836a2 2 0 0 0-1.455-1.455L18 8.5v-1l.836-.209a2 2 0 0 0 1.455-1.455L20.5 5h1l.209.836a2 2 0 0 0 1.455 1.455z'/%3E%3C/svg%3E");
}

.cookies-policy-notice {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.75rem 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #666;
    text-align: center;
    width: 100%;
    line-height: 1.75em;
    font-size: 13px;
    z-index: 1;
    border-top: solid 1px #eee;
}
.cookies-policy-notice .container {
    padding: 0 30px;
}
.cookies-policy-notice .container .btn {
    margin-top: 0;
}

body.dark .cookies-policy-notice {
    background-color: rgba(45, 49, 60, 0.9);
    border-top: solid 1px #3d464f;
    color: #6c757b;
}
body.dark .cookies-policy-notice .btn.btn-outline-primary {
    border-color: #737b86;
    color: #a1b3cc;
}
.card-header .card-title span.count {
    opacity: 0.5;
    font-size: 0.9em;
}
.card-body ul.profile-img-gallery li {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.card-body ul li.more-item {
    position: relative;
    overflow: visible;
}
.card-body ul li.more-item .square,
.card-body ul.profile-img-gallery li.more-item .square
{
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.card-body ul.profile-img-gallery li.more-item .square {
    left: calc(200% + 20px);
}
.card-body li.more-item .square:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.card-body li.more-item .square a {
    position: absolute;
    background-color: #000;
    color: #fff;
    opacity: 0.4;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2em;
}
.card-body li.more-item .square a:hover {
    opacity: 0.75;
}
.card-body .left-card-name {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 20px 5px 5px 5px;
    display: block;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    line-height: 1.25em;
    margin-bottom: 0;
    opacity: 0;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.card-body li:hover .left-card-name {
    opacity: 1;
}
#modal_photo .img-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
#modal_photo .img-wrapper:before {
    content: "";
    display: block;
    padding-top: 75%;
}
*/
#modal_photo .img-wrapper img {
    /*
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
    max-width: 100%;
    max-height: 640px;
    width: auto;
    height: auto;
    display: inline-block;
}
#modal_photo .img-wrapper a.leftward,
#modal_photo .img-wrapper a.rightward
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    opacity: 0.75;
    z-index: 2;
    background-color: #00000024;
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
}
#modal_photo .img-wrapper a.leftward:hover,
#modal_photo .img-wrapper a.rightward:hover
{
    opacity: 1;
}
#modal_photo .img-wrapper a.leftward svg path,
#modal_photo .img-wrapper a.rightward svg path
{
    -webkit-filter: drop-shadow(2px 2px 4px #000);
    filter: drop-shadow(2px 2px 4px #000);
}
#modal_photo .img-wrapper a.leftward {
    left: 10px;
}
#modal_photo .img-wrapper a.rightward {
    right: 10px;
}

#modal_photo .comments-wrapper {
    max-height: 320px;
    overflow: auto;
}
#modal_photo .options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#modal_photo .options .emotions.hover a,
#modal_photo .options .emotions:hover a,
#modal_photo .options .emotions a.e {
    padding: 0 4px 0 28px;
}
#modal_photo .options .comments {
    min-width: 34px;
}
#modal_photo .options .comments.hover > a,
#modal_photo .options .comments:hover > a,
#modal_photo .options .comments > a.e {
    padding: 0 4px 0 24px;
    margin: 4px 0;
}
#modal_photo .options .comments > a:before {
    width: 28px;
    left: -3px;
}
#modal_photo .options .share {
    min-width: 35px;
}
#modal_photo .options .share a.active {
    padding: 0 0 0 24px;
}
#modal_photo .actions a {
    margin-left: 10px;
}
#modal_photo .modal-photo-data {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.navbar a.pulse-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
@keyframes shadow-pulse{0%{box-shadow:0 0 0 0px rgba(174, 95, 210, 0.8);}100%{box-shadow:0 0 0 15px rgba(174, 95, 210, 0)}}

.post-form-buttons .btn.square {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: .375rem .375rem;
}

body > .scroll-up {
    z-index: 3;
}

ul.pagination {
    padding: 20px 0 10px 0;
}
ul.pagination li a {
    display: inline-block;
    min-width: 10px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    line-height: 40px !important;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #555;
    font-size: 13px;
    border-radius: 4px;
    border: solid 1px #eee;
}
ul.pagination li.active a,
ul.pagination li a:hover
{
    background-color: #0B93C9;
    color: #fff;
    border-color: #0B93C9;
}

ins.adsbygoogle {
    margin-bottom: 1rem;
}

.above-footer {
    background-color: #4b4e53;
    padding: 1rem 0;
    display: block;
    z-index: 1;
    position: relative;
}
.above-footer > .container {
    text-align: center;
}
.above-footer a[href] {
    color: #999999;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 300;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.above-footer a[href]:hover {
    color: #ffffff;
}

.list-group input[type="radio"]:checked + label.list-group-item {
    z-index: 2;
    color: var(--bs-white);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

hr[data-title] {
    margin: 2rem 0;
    position: relative;
    text-align: center;
    overflow: visible;
}
hr[data-title]:before {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    line-height: 1em;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background-color: #fff;
    padding: 2px 8px;
    margin-top: -0.5rem;
    text-align: center;
    min-width: 65%;
}
/*
footer .container:before {
    content: '';
    width: 400px;
    height: 400px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 20px;
    background-image: url(/templates/47/we/img/tm.108277.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    opacity: 0.15;
}
*/

.gradient-border-bg {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg, #5086ff 30%, #ae5fd2 90%) border-box;
    border: 2px solid transparent;
    border-radius: 50px;
}

.mobile-app-carousel {
    padding: 11px 7px 0 7px;
    margin: 30px 15px;
    position: relative;
    min-height: 610px;
}
.mobile-app-carousel:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background-image: url('/templates/47/we/img/social/smartphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}
.mobile-app-carousel .carousel-container {
    width: 100%;
}
.mobile-app-carousel .carousel-container .carousel {
    height: 650px;
}

.btn.btn-light.rounded-pill.active {
    color: #fff;
    background-color: #50b5ff;
    border-color: #50b5ff;
}
.inner-block.article {
    padding: 0 1rem;
}
.article h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.article h2 b {
    font-weight: 500;
}

/**
 Unsafe images
 */
img[src*=".unsafe."]:not([src*="?no_cache"]) {
    /*filter: blur(0.5rem);*/
}

@media (min-width: 1200px) {
    .container.container-xl {
        max-width: 1200px;
    }
}

@media (min-width: 768px) {
    .card.card-filter,
    .card.most-commented-card,
    .card.most-popular,
    .card.h100-card
    {
        position: sticky;
        align-self: flex-start;
        top: 85px;
        display: flex !important;
        max-height: calc(100vh - 95px);
        flex-direction: column;
    }
    .card.card-filter .card-header,
    .card.most-commented-card .card-header,
    .card.most-popular .card-header
    {
        flex-shrink: 0;
    }
    .card.card-filter .card-body,
    .card.most-commented-card .card-body,
    .card.most-popular .card-body
    {
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 1.25rem 1.25rem;
        padding: 0;
    }
    .card.card-filter .card-body::-webkit-scrollbar,
    .card.most-commented-card .card-body::-webkit-scrollbar,
    .card.most-popular .card-body::-webkit-scrollbar
    {
        display: none;
    }
    #main-menu .navbar-nav > li > a.language-link {
        display: none;
    }
    .avatar-sm-50 {
        max-height: 50px;
        width: 50px;
        line-height: 50px;
    }
    .mobile-app-carousel {
        min-height: 700px;
    }
    .mobile-app-carousel .carousel-container .carousel {
        height: 700px;
    }
}
@media (max-width: 768px){
    .card.sticky-top-10,
    .sticky-top-10
    {
        position: static;
        top: 0;
    }
    .card.most-commented-card {
        min-height: 0;
    }
    .card.card.card-filter {
        display: none;
    }
    .results-new-count.active {
        top: 20px;
        padding: 6px 8px;
        font-size: 13px;
        height: 34px;
        background-color: #eee;
    }
    .profile-header .profile-cover {
        min-height: 280px;
    }
    .profile-header .profile-cover img {
        max-width: none;
        min-height: 100%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        width: auto;
    }
    .nav-item a .count-circle {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 9px;
        border: solid 1px #dceefb;
    }
    #navbarSupportedContent .navbar-list > li > a {
        line-height: 3.563rem;
        min-height: 3.563rem;
    }
    .navbar-list > li > a#notification-drop,
    .navbar-list > li > a#im-notification-drop
    {
        padding: 0 .25rem;
    }
    .navbar-list > li > a.language-link {
        display: none;
    }
    #main-menu .navbar-nav > li > a.language-link {
        display: initial;
    }
    .navbar-list li.authorisation_link > a,
    .navbar-list li.authorisation_link:last-child > a
    {
        padding-right: 0;
        margin: 0 0 0 15px;
    }
    .navbar-list li.personal_link > a > img {
        width: 2.5rem;
        height: 2.5rem;
    }
    body > .scroll-up {
        right: 0.5rem;
        bottom: 1rem;
    }
    div.iq-top-navbar {
        line-height: 2.5rem;
    }
    footer .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    #modal_photo .modal-photo-data {
        padding: 0 1rem;
    }
    #modal_photo .img-wrapper {
        min-height: 320px;
    }
    #modal_photo .img-wrapper img {
        max-height: 320px;
    }

    /*
    .card .card-header:hover + .card-body.sm-hidden,
    .card .card-header:active + .card-body.sm-hidden,
    .card .card-header + .card-body.sm-hidden:hover {
        display: block;
    }
    */
    .mobile-app-carousel::before {
        display: none;
    }
    #__sidebar_toggle {
        display: none;
    }
    body.sidebar-main .iq-sidebar,
    body > div#sidebar
    {
        display: none;
    }
}