.weather-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.weather-icon.wind_deg {
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='20'%3E%3Cpath fill='%23333333' d='M58.427 225.456L124 159.882V456c0 13.255 10.745 24 24 24h24c13.255 0 24-10.745 24-24V159.882l65.573 65.574c9.373 9.373 24.569 9.373 33.941 0l16.971-16.971c9.373-9.373 9.373-24.569 0-33.941L176.971 39.029c-9.373-9.373-24.568-9.373-33.941 0L7.515 174.544c-9.373 9.373-9.373 24.569 0 33.941l16.971 16.971c9.372 9.373 24.568 9.373 33.941 0z'%3E%3C/path%3E%3C/svg%3E");*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='20'%3E%3Cpath fill='%23333333' d='M261.573 286.544L196 352.118V56c0-13.255-10.745-24-24-24h-24c-13.255 0-24 10.745-24 24v296.118l-65.573-65.574c-9.373-9.373-24.569-9.373-33.941 0L7.515 303.515c-9.373 9.373-9.373 24.569 0 33.941L143.03 472.97c9.373 9.373 24.568 9.373 33.941 0l135.515-135.514c9.373-9.373 9.373-24.569 0-33.941l-16.971-16.971c-9.373-9.373-24.569-9.373-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-primary .weather-icon.wind_deg {
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='20'%3E%3Cpath fill='%23ffffff' d='M58.427 225.456L124 159.882V456c0 13.255 10.745 24 24 24h24c13.255 0 24-10.745 24-24V159.882l65.573 65.574c9.373 9.373 24.569 9.373 33.941 0l16.971-16.971c9.373-9.373 9.373-24.569 0-33.941L176.971 39.029c-9.373-9.373-24.568-9.373-33.941 0L7.515 174.544c-9.373 9.373-9.373 24.569 0 33.941l16.971 16.971c9.372 9.373 24.568 9.373 33.941 0z'%3E%3C/path%3E%3C/svg%3E");*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='20'%3E%3Cpath fill='%23ffffff' d='M261.573 286.544L196 352.118V56c0-13.255-10.745-24-24-24h-24c-13.255 0-24 10.745-24 24v296.118l-65.573-65.574c-9.373-9.373-24.569-9.373-33.941 0L7.515 303.515c-9.373 9.373-9.373 24.569 0 33.941L143.03 472.97c9.373 9.373 24.568 9.373 33.941 0l135.515-135.514c9.373-9.373 9.373-24.569 0-33.941l-16.971-16.971c-9.373-9.373-24.569-9.373-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
}
.weather-icon.moon_phase {
    background-color: #ddcd9e;
    border-radius: 50%;
}
.weather-icon.moon_phase span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}
.weather-icon.moon_phase span:before {
    content: '';
    display: inline-block;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px;
}
.bg-primary .weather-icon.moon_phase span:before {
    background-color: #3f9bdf;
}
.cities-wrapper {
    column-count: 4;
    color: #999;
}
.cities-wrapper a {
    margin-right: 10px;
}
.cities-wrapper a:after {
    content: ' ';
}
a.card:hover {
    text-decoration: none;
}
.col-md-3.scroll {
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: thin;
}
.ukraine-map path {
    fill: #f0f0f0;
    stroke-width: 0.25px;
    stroke-opacity: 0.5;
    stroke: #fff;
    fill-opacity: 1;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#weather-news .carousel-container .carousel {
    height: auto;
    display: flex;
}
#weather-news .carousel-container .arrow {
    background: #b36dec26;
    position: static;
    margin-top: 1.25rem;
}
#weather-news .carousel-container .arrow:before {
    opacity: 0.5;
}
#weather-news .carousel-container:hover .arrow:before {
    opacity: 0.75;
}
#weather-news .carousel-container .arrow:hover:before {
    opacity: 0.95;
}
.city-selector {
    position: relative;
}
.city-selector .form-control-lg {
    padding: .5rem .75rem;
}
.city-selector .suggestions {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.85);
    left: 0;
    right: 0;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1.25rem 0px;
    position: absolute;
}
.city-selector .suggestions p {
    margin-bottom: 0.75rem;
    line-height: 1.25em;
    color: #333;
    padding-left: 2px;
    padding-right: 2px;
}
.city-selector .suggestions p small {
    color: #777;
}
.city-selector .suggestions p:last-child {
    margin-bottom: 0;
}
.dynamic-map-wrapper {
    position: relative;
    overflow: hidden;
}
.dynamic-map-wrapper > svg {
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.dynamic-map-wrapper > a.back {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 768px) {
    .daily-wrapper,
    .hourly-wrapper
    {
        overflow-y: auto;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .daily-wrapper > .row {
        width: calc(200% + 40px);
        padding: 15px 0;
    }
    .hourly-wrapper > .row {
        width: calc(300% + 45px);
        padding: 15px 0;
    }
    .cities-wrapper {
        column-count: 2;
    }
    .col-md-3.scroll {
        overflow-y: auto;
        max-height: 1200px;
    }
}
@media (max-width: 480px) {
    .cities-wrapper {
        column-count: 1;
    }
    .daily-wrapper > .row {
        width: calc(300% + 50px);
        padding: 15px 0;
    }
    #weather-news .carousel-container .arrows {
        display: none;
    }
}