<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <script src="@BaseUrl/js/frmain.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Разработка приложений баз данных">
    <control attr="Category">
        <title>@Value</title>
    </control>
    <link rel="stylesheet" href="@BaseFilesUrl/Dashboard/forum.css" media="screen" title="Default Forum Theme">
    <link rel="stylesheet" href="@BaseFilesUrl/Dashboard/jquery-ui.css" media="screen">
    <script src="@BaseFilesUrl/Dashboard/jquery.js.download"></script>
    <script async="" src="@BaseFilesUrl/Dashboard/jquery-ui.js.download"></script>
    <script src="@BaseFilesUrl/Dashboard/lib.js.download"></script>
</head>
<body>
    <form action="/@InstanceName" enctype="multipart/form-data" method="post">
        <input type="hidden" name="EditKey" value="" />
        <input type="hidden" name="MenuAction" value="" />
        <input type="hidden" name="FormName" value="@FormName" />
        <input type="submit" id="btnSaveOnEnter" name="btn" value="Save" onclick="return !isPreventSaveOnEnter;" style="display:none;" />
        <input type="submit" id="btnSortGridColumn" name="btn" value="SortGridColumn" style="display:none;" />
        <input type="submit" id="btnEditLanguage" name="btn" value="EditLanguage" style="display:none;" />
        <input type="submit" id="btnEditTheme" name="btn" value="EditTheme" style="display:none;" />
        <input type="submit" id="btnEventClick" name="btn" value="EventClick" style="display:none;" />
        <input type="submit" id="btnEventChange" name="btn" value="EventChange" style="display:none;" />
        <input type="submit" id="btnMenuClick" name="btn" value="MenuClick" style="display:none;" />
        <input type="submit" id="btnSave" name="btn" value="Save" style="display:none" />
        <input type="submit" id="btnRefresh" name="btn" value="Refresh" style="display:none;" />
        <input type="submit" id="btnUpdate" name="btn" value="Update" style="display:none" />
        <input type="submit" id="btnCancel" name="btn" value="Cancel" style="display:none" />
        <input type="submit" id="btnFilter" name="btn" value="Filter" style="display:none" />

        <!--  -->

        <div class="content">

            <!-- Table for sidebars. -->
            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <div id="UserControlPanel">
                                <ul>
                                    <li>
                                        <input type="text" name="FilterText" value="@FilterText" />
                                        <a href="@FilterPageUrl" title="Поиск">
                                            <img src="@BaseFilesUrl/Dashboard/top_search.png" alt="" width="16" height="16"> Поиск
                                        </a>
                                    </li>
                                    <li></li>
                                    <li>
                                        <control attr="Users">
                                            <a href="@ClickUrl" title="Участники" @ReadOnly @Disabled value="@Value" name="@Name">
                                                <img src="@BaseFilesUrl/Dashboard/top_members.png" alt="" width="16" height="16">
                                                Участники
                                            </a>
                                        </control>
                                    </li>
                                    <li>
                                        <control attr="Register">
                                            <a href="@ClickUrl" title="Регистрация" @ReadOnly @Disabled value="@Value" name="@Name">
                                                <img src="@BaseFilesUrl/Dashboard/top_register.png" alt="" width="16" height="18">
                                                Регистрация
                                            </a>
                                        </control>
                                    </li>
                                    <li>
                                        <control attr="EditTopics">
                                            <a href="@ClickUrl" title="Топики" @ReadOnly @Disabled value="@Value" name="@Name">
                                                Редактировать топики
                                            </a>
                                        </control>
                                    </li>
                                    <li>
                                        <img src="@BaseFilesUrl/Dashboard/top_login.png" alt="" width="16" height="16">
                                        @UserName
                                    </li>
                                </ul>
                            </div>
                            <table cellspacing="1" cellpadding="2" class="ContentTable">
                                <tbody>
                                    <tr>
                                        <th class="hide2">&nbsp;</th>
                                        <th class="hide2">&nbsp;</th>
                                        <th class="wa">Тема</th>
                                        <th class="wo hide1">Ответы</th>
                                        <th class="wo hide1">Просмотров</th>
                                        <th class="nw hide2">Последнее сообщение</th>
                                    </tr>
                                    <control attr="Topics" repeatable="true">
                                        <tr style="display: table-row" class="row child-c3">
                                            <td class="RowStyleA wo hide2">
                                                <img src="@BaseFilesUrl/Dashboard/icon1.gif" alt="Иконка форума">
                                            </td>
                                            <td class="RowStyleB ac wo hide2">
                                                <img title="Только зарегистрированные участники форума могут отслеживать и читать &amp; новые сообщений" src="@BaseFilesUrl/Dashboard/existing_content.png" alt="Только зарегистрированные участники форума могут отслеживать и читать &amp; новые сообщений" width="30" height="30">
                                            </td>
                                            <td class="RowStyleA wa">
                                                <a href="@EditRowUrl" class="big">
                                                    <span>
                                                        @Title.Value
                                                    </span>
                                                </a>
                                                <br>
                                                <span>
                                                    @Description.Value
                                                </span>
                                                <div class="TopBy">От: <a href="@Who.Name.ClickUrl">@Who.Name.Value</a> - <span class="DateText">@OnDate.Value</span></div>
                                            </td>
                                            <td class="RowStyleB ac hide1">
                                                <span>
                                                    @CountMessages.Value
                                                </span>
                                            </td>
                                            <td class="RowStyleB ac hide1">
                                                <span>
                                                    @CountViews.Value
                                                </span>
                                            </td>
                                            <td class="RowStyleA ac nw hide2">
                                                <span class="DateText">
                                                    <span>
                                                        @LastMessage.OnDate.Value
                                                    </span>
                                                </span>
                                                <br>
                                                От:
                                                <a href="@LastMessage.Who.ClickUrl">
                                                    <span>
                                                        @LastMessage.Who.Value
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </control>
                                </tbody>
                            </table>
                            <control attr="NewTopic">
                                <br />
                                <div class="rel GenText nw vt fr" style="right:0;">
                                    <a href="@ClickUrl"><img src="@BaseFilesUrl/Dashboard/new_thread.gif" alt="Создать новую тему"></a>
                                </div>
                            </control>
                            <div class="fr">
                                <input type="hidden" name="SQ" value="0">
                                <table border="0" cellspacing="0" cellpadding="3">
                                    <tbody>
                                        <tr class="SmallText">
                                            <td>
                                                <control attr="Login">
                                                    <label>
                                                        Имя:<br>
                                                        <input class="SmallText" type="text" name="@Name" size="18" @ReadOnly @Disabled value="@Value">
                                                    </label>
                                                </control>
                                            </td>
                                            <td>
                                                <control attr="Password">
                                                    <label>
                                                        Пароль:<br>
                                                        <input class="SmallText" type="password" name="@Name" size="18" @ReadOnly @Disabled value="@Value">
                                                    </label>
                                                </control>
                                            </td>
                                            <td>
                                                &nbsp;<br>
                                                <control attr="LoginButton">
                                                    <input type="submit" class="button" name="@Name" value="@Value" @ReadOnly @Disabled onclick="@ClickSubmit">
                                                </control>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <control attr="PageNumbers" type="standard">
                            </control>
                            <center>
                                <a href="@CancelPageUrl">Наверх</a>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>