<table border="1" width="100%">
    <tr>
        <td nowrap align="left" valign="top" rowspan="7">
            <span>@UserName</span>
            <span>@Login</span>
            <span>@Logout</span>
            <span>@Register</span>
            <span>@MyUser</span>
            <span>@Users</span>
            <span>@NewChannel</span>
            <span>@MyChannels</span>
            <span>@Channels</span>
            <span>@History</span>
            <span>@ClearHistory</span>
        </td>
        <td rowspan="7">
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td valign="top" align="left" width="100%">
            New Videos
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            @NewVideos
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td valign="top" align="left">
            Subscribes
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            @Subscribes
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td valign="top" align="left">
            Recommendations
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            @Recommendations
        </td>
    </tr>
</table>