<table border=1 cellpadding=5 cellspacing=5>
    <tr>
        <td align="left" nowrap>
            <div>Social Network</div>
        </td>
        <td style="width:100%" nowrap align="right">
            @UserName
        </td>
        <td nowrap>
            @Logout
        </td>
    </tr>

    <tr>
        <td align="center" valign="top" nowrap>
            <div>@MyUser</div>
            <div>@Users</div>
            <div>@NewPost</div>
        </td>
        <td style="width:100%" align="left" valign="top" colspan="2">
            <div>@ViewPosts</div>
        </td>
    </tr>
</table>